table.dataTable tr th.select-checkbox::before {
    content: ' ';
    margin-top: -3px;
    margin-left: -2px;
    border: 1px solid black;
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
}
table.dataTable tr th.select-checkbox.selected::after {
    content: "✔";
    position: absolute;
    margin-top: -7px;
    margin-left: 3px;
    text-align: center;
    text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
}