.table-responsive {
    overflow: auto;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #ececf0 !important;
 }

 /* table colors */
tr.table_new{
    background-color: #ffffff !important;
}
tr.table_aut{
    background-color: rgba(194, 0, 129, 0.49) !important;
}
tr.table_notinteres {
    background-color: rgba(214, 0, 0, 0.49) !important;
}
tr.table_potential{
    background-color: rgba(195, 230, 0, 0.49) !important;
}
tr.table_na{
    background-color: rgba(4, 0, 214, 0.49) !important;
}
tr.table_client {
    background-color: rgba(25, 214, 0, 0.49) !important;
}
tr.table_hot{
    background-color: rgba(214, 100, 0, 0.49) !important;
}