{% load user_tags %}


<div class="sidebar">
    <div class="sidebar-wrapper">

        <div class="logo">
            <a target="_blank"
               href="https://www.creative-tim.com/product/black-dashboard-django" class="simple-text logo-mini">
                BKT
            </a>
            <a target="_blank"
               href="https://www.creative-tim.com/product/black-dashboard-django" class="simple-text logo-normal">
                ЦРМ
            </a>
        </div>

        {% if user.is_authenticated %}
        <ul class="nav">
            <li class="active ">
                <a href="{% url 'lead:index' %}">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Таблица лидов</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="tim-icons icon-atom"></i>
                    <p>Статистика</p>
                </a>
            </li>
            <li>
                <a href="№">
                    <i class="tim-icons icon-pin"></i>
                    <p>Задачи</p>
                </a>
            </li>
            <li>
                <a href="№">
                    <i class="tim-icons icon-bell-55"></i>
                    <p>Напоминания</p>
                </a>
            </li>
            <li>
                {% if user|has_group:'Администратор' %}
            <li>
                <a data-toggle="modal" data-target="#importModal">
                    <i class="tim-icons icon-bell-55"></i>
                    <p>Импорт из CSV</p>
                </a>
            </li>
            <li>
                {% endif %}
                <a href="{% url 'authentication:logout' %}">
                    <i class="tim-icons icon-user-run"></i>
                    <p>Выход</p>
                </a>
            </li>
        </ul>
        {% endif %}

    </div>
</div>
{% if user|has_group:'Администратор' %}
{% block import_modal %}
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-top modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Добавление холодных лидов из CSV файла</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" id="add-import-form" enctype="multipart/form-data"
                  action="{% url 'lead:add-import' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group" id="csv_name">
                        {{ import_form.name_field.label_tag }}
                        {{ import_form.name_field }}
                    </div>
                    <div class="form-group" id="csv_email">
                        {{ import_form.email_field.label_tag }}
                        {{ import_form.email_field }}
                    </div>
                    <div class="form-group" id="csv_phone">
                        {{ import_form.phone_field.label_tag }}
                        {{ import_form.phone_field }}
                    </div>
                    <div class="form-group" id="csv_notes">
                        {{ import_form.notes_field.label_tag }}
                        {{ import_form.notes_field }}
                    </div>
                    <div class="form-group" id="csv_agreements">
                        {{ import_form.agreements_field.label_tag }}
                        {{ import_form.agreements_field }}
                    </div>
                    <div id="csv_file">
                        <label for="id_file_field">Файл в формате CSV:</label>
                        <input type="file" name="file_field" required="" id="id_file_field">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button id="add_import" type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% endif %}
