<!-- Static assets -->
{% load static %}
{% load user_tags %}

<div class="side-header">
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                {% if user|has_group:'Администратор' %}
                <a class="navbar-brand task-title" href="{% url 'lead:admin_lead_list' %}">Все задачи</a>
                <button class="btn btn-task btn-sm align-middle btn-fab btn-icon btn-round ml-auto mr-3 order-lg-last"
                        type="button" data-toggle="modal" data-target="#addTaskModal"><i class="tim-icons icon-simple-add"></i></button>
                {% else %}
                <a class="navbar-brand task-title" href="{% url 'lead:index' %}">Задачи менеджера</a>
                {% endif %}
            </nav>
        </div>
        <div class="side-content">

            {% for task in tasks %}

            <div class="card {% if task.expired %}bg-danger{% endif %}"
                 id="task-{{ task.id }}">
                <div class="card-body">
                    <h4 class="card-title" id="task-{{ task.id }}-title">
                        {{ task.expiration_time|date:"Y-m-d H:i" }}
                    </h4>
                    {% if task.type == 't' %}
                    <span class="badge badge-info mb-2">Задача</span>
                    {% elif task.type == 'n' %}
                    <h6 class="card-subtitle mb-2 text-muted">Лид №{{ task.lead }}</h6>
                    <span class="badge badge-warning mb-2">Напоминание</span>
                    {% endif %}
                    <p class="card-text" id="task-{{ task.id }}-text">{{ task.text }}</p>
                    <p>Менеджер: {{ task.manager }}</p>
                    <button id="task-{{ task.id }}-button"
                            class="task-button btn btn-fab btn-icon btn-round animation-on-hover float-right"
                            type="button" data-id="{{ task.id }}">
                        <i class="tim-icons icon-check-2"></i>
                    </button>
                </div>
            </div>

            {% endfor %}
        </div>

{% block add_task_modal %}
<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-top modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Добавление задачи</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" id="add-task-form" action="{% url 'lead:add-task' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group" id="t_manager">
                        {{ task_form.manager.label_tag }}
                        {{ task_form.manager }}
                    </div>
                    <div class="form-group" id="t_text">
                        {{ task_form.text.label_tag }}
                        {{ task_form.text }}
                    </div>
                    <div class="form-group" id="expiration_time">
                                                {{ task_form.expiration_time }}
                                                <script>
                                    $('#task_expiration_time').datetimepicker({
                                        format:'Y-m-d H:i:s',
                                     });
                                                </script>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button id="add_task" type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}